<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FlashWord</title>
		<meta charset="utf-8" />
		<script src="https://unpkg.com/vue@latest" defer></script>
		<script src="app.js" defer></script>
		<style>
			label {
				display: block;
			}
			input,
			button {
				display: block;
				margin: 10px 0px;
			}
			.correct {
				color: green;
			}
			.incorrect {
				color: red;
			}

			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<h1>FlashWord</h1>

		<!-- have to style the v-cloak so it's hidden until loaded -->
		<div id="app" v-cloak>
			What is the English translation of the word <strong>{{ wordA }}</strong>?
			<!-- Here v-model links the input to data['answer'] -->
			<input type="text" v-model="answer" />

			<!-- Conditional rendering only if data['answer'] is not empty string -->
			<p v-if="answer !=''">You answered: {{ answer }}</p>

			<!-- Here v-on:Click is linking to method checkAnswer which is checking if input is correct, and if there is any content at all making data['showFeedback'] == true for below conditional render of div just below these two buttons -->
			<button v-on:click="checkAnswer()">Check answer</button>

			<!-- Reset button conditionally renders if the correct answer is given and submitted, and on click will reset the form fields. -->
			<button v-if="correct" v-on:click="resetForm()">Reset</button>

			<div v-if="showFeedback">
				<p v-if="correct" class="correct">Sweet, you got it</p>
				<p v-else="correct !== null" class="incorrect">
					Sorry, please try again
				</p>
			</div>
		</div>
	</body>
</html>
